
<template name="index">

  <section id="todoapp">

    <header id="header">
      <h1>todos</h1>
      {{> input}}
    </header>

    <section id="main">
      {{> todo_list}}
    </section>

    <footer id="footer">
      {{> footer}}
    </footer>

  </section>

  <footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Created by Dominik Guzei - <a href="http://github.com/CodeAdventure">GitHub</a>&nbsp;&nbsp;<a href="http://twitter.com/DominikGuzei">Twitter</a></p>
    <p>Part of <a href="http://com">TodoMVC</a></p>
  </footer>

</template>
